Case_1.json
{
  "name": "Case 1",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá ! 👋\nComo posso te ajudar ?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -360,
        100
      ],
      "id": "42048e4a-ce5d-46a3-886c-67986fb4f216",
      "name": "When chat message received",
      "webhookId": "d18a2797-da38-481d-80bb-3fad210ed532"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71258e50-4138-4289-a696-e8e19bc32138",
              "name": "IIdConversa",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "870a937d-65f6-43af-b867-77990fb86a9f",
              "name": "Mensagem",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        100
      ],
      "id": "c8ba1d6d-9dc1-4fcf-a6d2-c65bbbabb6b9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1cCQcVkKT8_6Hsbzl7Rl0jy5ga6n9_COvjjTjnNt7gno",
          "mode": "list",
          "cachedResultName": "Curso_N8N - #1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cCQcVkKT8_6Hsbzl7Rl0jy5ga6n9_COvjjTjnNt7gno/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Case 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cCQcVkKT8_6Hsbzl7Rl0jy5ga6n9_COvjjTjnNt7gno/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IdConversa": "={{ $json.IIdConversa }}",
            "Mensagem": "={{ $json.Mensagem }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "IdConversa",
              "displayName": "IdConversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mensagem",
              "displayName": "Mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        100,
        100
      ],
      "id": "a9b55697-d813-4b87-ad5b-fd5960dc59e2",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7Z0vzS12hpKiqRq5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Mensagem }}",
        "options": {
          "systemMessage": "Você é um super agente de suporte, seja educado, engraçado e utilize emojis em suas respostas para deixar a conversa mais humanizada"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        320,
        100
      ],
      "id": "06ef45d7-09e2-42a9-b016-005727a1ef11",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        220,
        340
      ],
      "id": "324574df-b1b5-4b4a-9b84-90e42d9c3083",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "vjAGLMh5nWDDe5Nd",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.IIdConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        360,
        340
      ],
      "id": "ee6c950d-f47c-4caa-a1cd-5798675173e5",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        520,
        340
      ],
      "id": "aad3565f-70b7-434c-8022-9217d6512c13",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        640,
        340
      ],
      "id": "8c04d742-1675-4391-a188-95ce9d743bc6",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        680,
        100
      ],
      "id": "54a8dbb9-2cb6-4e04-9a4d-a4a69d4e14f0",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d71ed310-ebdd-4bcf-98d6-536ee0b32802",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "954e96c8719ed8b7cf27c333715d633d971c382360cfac78b3bf5f2f962282e8"
  },
  "id": "Euun760xnSnQMfeM",
  "tags": []
}